body {
  background: #ffffff;
  color: #2c2f3c;
  margin: 0; }

.landing-logo, .footer-logo {
  margin-left: 150px; }
  .landing-logo img, .footer-logo img {
    float: left;
    padding-top: 10px;
    width: 40px;
    height: 40px; }
  .landing-logo p, .footer-logo p {
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 17px;
    line-height: 15px;
    font-family: hind;
    margin-top: 0;
    margin-bottom: 0; }
  .landing-logo span, .footer-logo span {
    display: block;
    font-size: xx-small;
    margin-left: 3px; }

.text_with_marked_word, .header_heading, .section_text, .section_banner_heading {
  font-family: Source Sans Pro;
  position: relative;
  z-index: 0; }
  .text_with_marked_word::after, .header_heading::after, .section_text::after, .section_banner_heading::after {
    background: #14a0c7;
    position: absolute;
    z-index: -1;
    content: "";
    height: 40px; }

.header_heading {
  width: 420px;
  line-height: 60px;
  word-break: normal;
  font-size: 55px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 45px;
  margin-bottom: 20px; }
  .header_heading::after {
    left: 0;
    bottom: 0;
    width: 230px; }

.section_text {
  font-size: 33px;
  font-family: Source Sans Pro;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px; }
  .section_text::after {
    width: 150px;
    right: 39.7%;
    bottom: 16%; }

.section_link {
  color: #bbc3ce;
  font-size: 12px;
  font-family: unset; }

.section_banner_heading {
  font-size: 27px;
  font-weight: bold;
  margin-left: 130px;
  margin-bottom: 0;
  margin-top: 16px; }
  .section_banner_heading::after {
    width: 57px;
    right: 55%;
    bottom: 2%; }

.section_banner_text {
  margin-left: 130px;
  margin-top: 3px;
  font-family: hind;
  font-size: 14.3px;
  color: #bbc3ce; }

.header-wrap {
  background: url(../img/m-h-day.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 560px;
  border-radius: 0 0 40% 0; }

.header_text {
  width: 500px;
  margin-left: 115px;
  font-family: hind;
  white-space: pre;
  font-size: 13px;
  word-break: normal; }

.header_button {
  width: 110px;
  height: 35px;
  background: #699900;
  border-color: #699900;
  border-radius: 3px;
  border-style: none;
  font-family: hind;
  color: #f2f3f7;
  margin-left: 160px; }

.login {
  color: #f2f3f7;
  font-size: 16px;
  font-family: hind;
  margin-left: 120px; }

.section_card, .footer-wrap {
  background: #21232e;
  color: #bbc3ce; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section_banner {
  width: 62%;
  height: 7.5%;
  margin: 0 auto;
  border-radius: 3px;
  display: flex;
  transform: translateY(50%);
  background: linear-gradient(to right, #699900, #305ece); }

.section_banner_button {
  width: 110px;
  height: 35px;
  background: #699900;
  border-color: #699900;
  border-radius: 3px;
  border-style: none;
  font-family: hind;
  color: #f2f3f7;
  margin-top: 28px;
  margin-left: 190px; }

.section_card {
  display: flex;
  border-radius: 5px;
  padding: 15px;
  width: 55%;
  margin-bottom: 20px;
  font-family: hind;
  text-align: center; }

.section_card_heading {
  color: #ffffff;
  font-size: 19px;
  margin-top: 40px;
  font-family: Source Sans Pro; }

.section_card_text {
  font-family: hind;
  font-size: 12px;
  margin-left: 75px;
  margin-right: 75px;
  text-align: justify; }

.section_card_img {
  border-radius: 5px;
  width: 100%;
  height: auto; }

.footer-wrap {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: space-around;
  padding-top: 50px;
  margin-left: -150px; }

.footer_text {
  width: 14%;
  font-family: hind;
  font-size: 11px; }

.footer-logo {
  margin-left: 0; }

.footer-cr {
  font-family: hind;
  font-size: 12px; }
