$header-background-image: url(../img/m-h-night.jpg);

$bckgrnd-colors:(
	body: #21232E,
	section_card: #3B3F50,
	section_banner_left: #DEA405,
	section_banner_right: #942F50,
	footer: #3B3F50,
	marked_word: #FF4E33,
	button: #E3AC00,  
);

$colors:(
	body: #ffffff,
	section_card: #bbc3ce,
	section_banner_button: #ffffff,
	section_card_text_heading: #ffffff,
	button: #f2f3f7,
	header_link: #f2f3f7,
	section_link: #bbc3ce
);