
$header-background-image: url(../img/m-h-day.jpg);

$bckgrnd-colors:(
	body: #ffffff,
	section_card: #21232e,
	section_banner_left: #699900,
	section_banner_right: #305ece,
	footer: #21232e,
	marked_word: #14a0c7,
	button: #699900,  
);

$colors:(
	body: #2c2f3c,
	section_card: #bbc3ce,
	section_banner_button: #ffffff,
	section_card_text_heading: #ffffff,
	button: #f2f3f7,
	header_link: #f2f3f7,
	section_link: #bbc3ce
);

